.example-spacer {
    flex: 1 1 auto;
  }
  a{
    text-decoration: none;
    color: #fff;
    &:hover{
      text-decoration: none;
      color: #fff;
    }
  }
  mat-icon{
    position: relative;
    top: 4px;
  }